@tailwind base;
@layer base {
  html {
    @apply font-serif;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src:  url('/fonts/IBM Plex Sans Var-Roman.woff2') format('woff2 supports variations'),
        url('/fonts/IBM Plex Sans Var-Roman.woff2') format('woff2-variations'),
        url('/fonts/IBM Plex Sans Var-Roman.woff') format('woff supports variations'),
        url('/fonts/IBM Plex Sans Var-Roman.woff') format('woff-variations'),
        url('/fonts/IBM Plex Sans Var-Roman.tff') format('tff supports variations'),
        url('/fonts/IBM Plex Sans Var-Roman.tff') format('tff-variations');
    font-weight: 100 1000;
    font-display: swap;
  }
}
@tailwind components;
@tailwind utilities;

.mask {
   -webkit-mask-image: radial-gradient(circle at center, white,80%,transparent);
   mask-image: radial-gradient(circle at center, white,80%,transparent)
}

